@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/telex-regular-webfont.woff2') format('woff2');
    font-display: swap;
  }

:root{
    --bg-color: #1F2229;
    --secondary-color: #383D4A;
    --text-color: #fff;
    --selection-color: #48CCFD;
    --font-family-headers: "Stardos Stencil", Arial, sans-serif;
    --font-family-body: 'telex-regular-webfont', Arial, sans-serif
}

body{
    background-color: var(--bg-color);
    display: grid;
    place-items: center;
    font-family: var(--font-family-body);
}

.header{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--secondary-color) 1px solid;
}

.header_logo{
    padding: 21px 0 22px 32px;
}

.header_location{
    padding: 20px 30px 24px 0;
    display: flex;
    align-items: center;
}

.header_location_city{
    color: var(--text-color);
    font-size: 20px;
}

.header_location_logo{
    padding-right: 15px;
}

.promotion--size{
    width: 1116px;
}

.promotion_info{
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.promotion_info_item--text{
    color: var(--text-color);
    font-size: 20px;
    max-width: 370px;
    padding-top: 24px;
}

.profit{
    color: var(--selection-color);
}

.promotion_info_item--big_text{
    color: var(--text-color);
    font-size: 68px;
    line-height: 100%;
    font-weight: bold;
    padding-top: 48px;
    font-family: var(--font-family-headers);
    font-style: normal;
}

.promotion_info_button{
    margin-top: 56px;
    width: 209px;
    height: 60px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
}

.promotion_info_button:hover{
    box-shadow: 0 0 3px 3px var(--text-color);
}

.promotion_conditions{
    color: var(--text-color);
    margin-top: 148px;
}

.promotion_conditions_title{
    font-family: var(--font-family-headers);
    font-style: normal;
}

.promotion--title{
    font-size: 40px;
    line-height: 130%;
    color: var(--text-color);
    margin-bottom: 24px;
    font-family: var(--font-family-headers);
    font-style: normal;
}

.promotion_conditions_item{
    max-width: 665px;
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 56px;
}

.promotion_conditions_features{
    display: flex;
    gap: 56px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.promotion_conditions_features_item{
    font-size: 20px;
    line-height: 150%;
    display: flex;
    gap: 16px;
    align-items: center;
}

.img_wrapper{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion_form{
    margin-top: 148px;
    display: flex;
    gap: 132px;
    color: var(--text-color);
}

.promotion_title_form{
    margin-bottom: 64px;
}

.promotion_form_item{
    max-width: 348px;
    display: flex;
    flex-direction: column;
}


.phone_group{
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.phone_number_label{
    font-size: 13px;
    line-height: 18px;
    color: #8F9399;
}

.phone_number_input{
    border: none;
    border-bottom: 2px #8F9399 solid;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 138%;
}

.phone_number_input:focus{
    border: none;
    border-bottom: 2px var(--text-color) solid;
    outline: none;
}

.agreement_group{
    border: none;
    padding: 0;
    margin-bottom: 32px;
}

.agreement_label{
    font-size: 14px;
    line-height: 138%;
    display: inline-block;
    width: 350px;
}

.custom-checkbox-agreement{
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid var(--text-color);
    margin-right: 8px;
    vertical-align: sub;
    position: relative;
}

.custom-checkbox-agreement::before{
    content: '';
    display: inline-block;
    width: 15px;
    height: 12px;
    background-image: url('./src/images/main/section_form/vector 55.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s linear;
}

#agreement{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#agreement:checked + .custom-checkbox-agreement::before{
    transform: translate(-50%, -50%) scale(1);
}

.agreement_conditions{
    color: var(--text-color);
}

.agreement_button{
    width: 218px;
    height: 48px;
    background-color: var(--text-color);
    border: none;
    border-radius: 48px;
    font-style: 16px;
    line-height: 22px;
    font-weight: bold;
}

.agreement_button:hover{
    box-shadow: 0 0 3px 3px var(--text-color);
}

.form_success{
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #262B36;
    border-radius: 8px;
    height: 48px;
    padding-left: 12px;
}

.form_success_img{
    width: 24px;
    height: 24px;
    background-color: var(--selection-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_success_text{
    font-size: 14px;
    line-height: 138%;
}

.form_success--hidden{
    display: none;
}

.promotion_form_guide_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.promotion_form_guide_list_item{
    display: flex;
    gap: 24px;
    align-items: center;
}

.number_of_item{
    width: 80px;
    height: 80px;
    border: 1px solid #39404C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--selection-color);
    line-height: 130%;
    font-size: 40px;
}

.text_of_item{
    max-width: 492px;
    font-size: 20px;
    line-height: 150%;
}

.promotion_invite{
    margin-top: 162px;
    color: var(--text-color);
    display: flex;
    gap: 118px;
}

.promotion_invite_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 48px;
    background-color: var(--text-color);
    border: none;
    border-radius: 48px;
    font-style: 16px;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 48px;
}

.promotion_invite_link:visited{
    color: #000;
    text-decoration: none;
}

.promotion_invite_link:hover{
    box-shadow: 0 0 3px 3px var(--text-color);
}

.promotion--title--link{
    font-size: 40px;
    line-height: 130%;
    color: var(--text-color);
    margin-bottom: 30px;
    font-family: var(--font-family-headers);
    font-style: normal;
}

.promotion_invite_image{
    width: 359px;
    height: 359px;
    border-radius: 50%;
    background-color: var(--selection-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: -1;
}

.promotion_invite_image_phone{
    position: absolute;
    top: 20%;
    z-index: 1;
}

.promotion_invite_image_card{
    /* position: absolute; */
    z-index: 0;
    position: relative;
    left: 34%;   
}

.footer{
    margin-top: 148px;
    min-height: 168px;
}

.footer_links{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 42px;
}

.footer_links_conditions{
    display: flex;
    gap: 12px;

}

.footer_links_images_item:hover{
    box-shadow: 0 0 3px 3px var(--text-color);
}

.footer_links_conditions_item{
    text-decoration: none;
    color: var(--text-color);
}

.footer_links_conditions_item:visited{
    color: var(--text-color);
}

.footer_links_conditions_item:hover{
    text-decoration: underline;
}

.footer_links_conditions_age{
    width: 32px;
    height: 32px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    font-size: 12px;
    line-height: 120%;
    font-weight: bold;
    color: var(--text-color);
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_info{
    display: flex;
    justify-content: space-between;
}

.footer_info_tele2{
    color: var(--text-color);
    opacity: 50%;
    margin-left: 24px;
}

.footer_info_chulakov{
    color: var(--text-color);
    opacity: 50%;
    margin-right: 24px;
}

.checkmark-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #07CB5C;
    position: relative;
  }
  
.checkmark-circle::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3.5px;
    height: 6px;
    border: solid #04662E;
    border-width: 0 1px 1px 0;
    transform: translate(-50%, -60%) rotate(45deg);
}

.promocode_success{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #07CB5C;
    font-size: 13px;
    line-height: 138%;
}

.promocode_success--hidden{
    display: none;
}

.promocode_failed{
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 13px;
    line-height: 138%;
}

.promocode_failed_sign{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #661422;
    color: #FF4D6C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promocode_failed_text{
    color: #FF4D6C;
}

.promocode_failed--hidden{
    display: none;
}